<div ng-controller="demoCtrl" ng-init="getAll()">
	{{ a }}
	<button ng-click="get_method()">GET</button>
	<button ng-click="post_method()">POST</button>
	<button ng-click="put_method()">PUT</button>
	<button ng-click="delete_method()">DELETE</button>

</div>