<div ng-controller="myCtrl" ng-init="getAll()">
	<button data-toggle="modal" data-target="#addModal" class="btn btn-sm btn-primary" ng-click="newData={}">Add New Student</button>
	<hr />
	<table class="table table-hover table-bordered">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Age</th>
			<th>Fee</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat = "x in data">
			<td ng-bind="$index+1"></td>
			<td ng-bind="x.full_name"></td>
			<td ng-bind="x.age"></td>
			<td ng-bind="x.fee"></td>
			<td><button data-toggle="modal" data-target="#addModal" ng-click="askUpdate(x)" class="btn btn-sm btn-info">Edit</button></td>
			<td><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal" ng-click="askDelete(x)">Delete</button></td>
		</tr>
	</table>

<div class="modal fade" id="addModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <pre ng-bind="newData | json"></pre> -->
				<h2>{{ newData._id ? "Update" : "Add New"}} Student</h2>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Full Name</label>
					<input type="Text" ng-model="newData.full_name" placeholder="Full Name" class="form-control">
				</div>
				<div class="form-group">
					<label>Age</label>
					<input type="Text" ng-model="newData.age" placeholder="Age" class="form-control">
				</div>
				<div class="form-group">
					<label>Fee</label>
					<input type="Text" ng-model="newData.fee" placeholder="Fee" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button ng-click="save()" class="btn btn-sm btn-primary" data-dismiss="modal">{{ newData._id ? "Update" : "Add"}}</button>
				<button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <pre ng-bind="newData | json"></pre> -->
				<h2>Delete Student</h2>
			</div>
			<div class="modal-body">
				<p>Are You Sure want to delete this user <b>{{ selectedObj.full_name }}</b>.
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" data-dismiss="modal" ng-click="delete()">Delete</button>
				<button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


</div>